<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webName" value="购物返利" />
    <add key="webDomains" value="www.taobaoke.com" />
    <add key="cookiesDomain" value=".taobaoke.com" />
    <add key="miibeian" value="" />
    <add key="qq" value="61824916" />
    <add key="taobao" value="taobaoke" />
    <add key="webTel" value="" />
    <add key="webFax" value="" />
    <add key="webAdd" value="" />
    <add key="mobile" value="13333333333" />
    <add key="freePhone" value="" />
    <add key="webEmail" value="" />
    <add key="waterMark" value="taobaoke.com" />
    <add key="UploadImgType" value="jpg|jpeg|bmp|gif|png" />
    <add key="UploadImgSize" value="10240000" />
    <add key="UploadFileType" value="rar|zip|doc|docx|ppt|pptx|xls|xlsx|pdf|chm|hlp" />
    <add key="UploadFileSize" value="10240000" />
    <add key="UploadFlashType" value="swf|flv" />
    <add key="UploadFlashSize" value="10240000" />
    <add key="Email" value="com|net|org|cn|asia|tv|cc|info|biz|mobi|name|tw|cd|hk|ph|us|cm|me|in" />
    <add key="ip" value="" />
    <add key="regCode" value="" />
    <add key="regDate" value="" />
    <add key="countScript" value="" />
    <add key="KeyWord" value="淘宝客网站,淘宝客程序,淘宝客源码,淘画报网站,淘画报程序,淘画报源码,时尚男装,时尚女装,平板电脑,智能手机,数码相机,微单,单反,休闲鞋,时装鞋,帆布鞋,运动鞋" />
    <add key="metaStr" value="tbfl是一套基于淘宝开放平台(TOP)提供的API开发出来的淘宝客推广程序,又称乡巴佬㊣生活馆,淘宝客网站,淘宝客程序,淘客源码,轻松建立淘宝客推广网站,进行淘宝客商品及店铺的推广." />
    <add key="titleMeta" value="购物返利" />
    <add key="taobaoKeAppKey" value="" />
    <add key="taobaoKeAppSecret" value="" />
    <add key="taobaoKeAlimamaID" value="" />
    <add key="taobaoKeUrl" value="http://gw.api.taobao.com/router/rest" />
    <add key="webVer" value="v1.12.0330" />
    <add key="hotSearch" value="太平鸟,nike,adidas,板鞋,iphone,ipad,平板,手机,衬衫,小西装,牛仔,裙,T恤,POLO衫,短袖,休闲包,休闲裤,凉鞋,特卖,春装" />
  </appSettings>
</configuration>